.contactUsSection {
    padding: 130px 155px;

    .imgWrapper {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;

        img {
            height: 200px;
            border-radius: 50%;
        }
    }

    .contentWrapper {
        display: flex;
        line-height: 18px;
        margin-bottom: 40px;

        .primaryText {
            line-height: 26px;
            font-size: 18px;
            text-align: center;

            p {
                margin-bottom: 40px;
            }
        }

        .secondaryText {
            font-size: 14px;
            color: var(--SecondaryTextColor);
        }

        &>div {
            padding: 0 20px;
        }

        &>div:not(:last-child) {
            border-right: 1px solid #91919179;
        }
    }

    .btnWrapper {
        text-align: center;

        a {
            font-size: 10px;
            color: var(--PrimaryTextColor);
            background-color: var(--PrimaryColor);
            text-decoration: none;
            padding: 8px 20px;
        }
    }
}